{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pi/style.css' %}">

<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}Pizzeria{% endblock %}
	</title>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-dark bg-dark">
			<div class="container">
				<div class="navbar-header">HEADER OF NAVBAR
					<button class="submit" onblur="True">
						<a href="{% url 'pi:login' %}" title="iniciar sesion">Iniciar Sesión</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	{% if pizza_list %}
	<ul>
		{% for pizza in pizza_list %}
		<li>
			<a href="{% url 'pi:home' pizza.pizza_id %}">{{ pizza.nom_pizza }} {{ pizza.pizza_id }}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No pizza disponible we:(</p>
	{% endif %}
	
	{% block content %}
		<h2>
			Contenido
		</h2>
	{% endblock %}

</body>
</html>
